#include <dt-bindings/zmk/matrix_transform.h>

/ {
    chosen {
        zmk,kscan = &default_kscan;
        zmk,matrix_transform = &default_transform;
    };

    default_kscan: kscan {
        compatible = "zmk,kscan-gpio-matrix";
        label = "default_kscan";
        diode-direction = "col2row";

        row-gpios = <&pro_micro 5 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>, // ROW 0 P0.24
                    <&pro_micro 6 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>, // ROW 1 P1.00

        col-gpios = <&pro_micro 16 GPIO_ACTIVE_HIGH>, // COL 0 P0.10
                    <&pro_micro 7 GPIO_ACTIVE_HIGH>, // COL 1 P0.11
        
    };

    default_trasnform: matrix_transform {
        compatible = "zmk,matrix-transform";
        row = <2>;
        col = <2>;
        map = <
            RC(0,0) RC(0,1)
            RC(1,0) RC(1,1)
        >;
    };
};
